<div class="colored-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-6 col-xxl-6">
        <h2 #heading
            [className]="isVisible[0] ? 'animate__animated animate__fadeIn' : 'invisible'">{{'CONTACT.HEADING' | translate}}</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
            <p #intro_text
               [className]="isVisible[1] ? 'animate__animated animate__fadeIn' : 'invisible'">{{'CONTACT.INTRO_TEXT' | translate}}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div #link_container
                 [className]="isVisible[2] ? 'link-container animate__animated animate__fadeIn' : 'invisible'">
              <a [ngbTooltip]="'CONTACT.TOOLTIP_MAIL' | translate"
                 href="mailto:maximilian@hagn.network">
                <fa-icon [icon]="faEnvelope"></fa-icon>
              </a>
              <a [ngbTooltip]="'CONTACT.TOOLTIP_PHONE' | translate"
                 href="mailto:maximilian@hagn.network">
                <fa-icon [icon]="faPhone"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
