<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-6 col-xxl-6">
      <h2 #heading
          [className]="isVisible[0] ? 'animate__animated animate__fadeIn' : 'invisible'">Contact</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
          <p #intro_text
             [className]="isVisible[1] ? 'animate__animated animate__fadeIn' : 'invisible'">
            Feel free to send me an email if you have any questions about me or my projects. However, I am also always
            interested in freelance opportunities.
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
          <div #link_container
               [className]="isVisible[2] ? 'link-container animate__animated animate__fadeIn' : 'invisible'">
            <a href="mailto:maximilian@hagn.network"
               ngbTooltip="Contact Me Via E-Mail">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </a>
            <a href="mailto:maximilian@hagn.network"
               ngbTooltip="Request Phone Number">
              <fa-icon [icon]="faPhone"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
