<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Maximilian Hagn</a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav"
          data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a [routerLink]="['']" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['cv']" class="nav-link">Lebenslauf</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['projects']" class="nav-link">Projekte</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['publications']" class="nav-link">Publikationen</a>
      </li>
    </ul>
  </div>
</nav>
