.fullscreen-overlay {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  @apply bg-gray-900;
  @apply bg-blend-overlay;

}

.name {
  font-family: "Inter-Regular", sans-serif;
}

.scroll-container {
  height: calc( 100vh - 60px );
  margin-top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

.max-h-65 {
  max-height: 65vh;
}
