<div class="fullscreen-overlay z-20 animate__animated animate__fadeInRight">
  <header class="fixed w-full top-0 right-0 z-10 bg-gray-900 lg:bg-transparent">
    <nav aria-label="Global"
         class="mx-auto flex flex-wrap lg:flex-nowrap items-center justify-between px-2 py-2 md:px-4 xl:px-8 max-w-7xl">
      <div class="flex xl:flex-1 basis-1/2">
        <span
          class="name ms-3 sm:mx-2 my-2 md:px-4 xl:mx-4 hover-text-main-color text-white font-extrabold text-base md:text-xl">
          {{ 'VAR.NAME' | translate }}
        </span>
      </div>
      <div class="flex mr-8">
        <button (click)="closeOverlay()"
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-21.5 text-gray-700"
                type="button">
          <span class="sr-only">{{ 'SR.CLOSE_OVERLAY' | translate }}</span>
          <svg aria-hidden="true" class="h-6 w-6" fill="none" stroke="white" stroke-width="1.5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </nav>
  </header>
  <div class="scroll-container px-4 pb-24 lg:pb-4 md:pt-4 lg:pt-8 xl:pt-16 lg:px-8">
    <div class="flex flex-col lg:grid lg:grid-cols-7 lg:grid-rows-1 lg:gap-x-8 lg:gap-y-10 xl:gap-x-16 mx-auto lg:max-w-7xl">
      <div
        class="mx-auto order-3 lg:order-2 lg:row-end-1 w-full pb-8 lg:pb-0 max-w-2xl lg:col-span-4 mt-10 lg:mt-0 lg:max-w-none">
        <div *ngIf="images && images.length !== 0" class="mt-4 pt-4 lg:mt-0 lg:pt-0">
          <h4 class="lg:hidden text-sm lg:text-md font-medium text-gray-100 mt-2">{{ 'PROJECT.GALLERY' | translate }}</h4>
          <div class="aspect-h-3 aspect-w-4 overflow-hidden rounded-lg bg-gray-900 mt-4 flex justify-center">
            <img [src]="images[currentImageIndex].url"
                 [alt]="images[currentImageIndex].description"
                 class="object-cover object-center max-h-65">
          </div>
          <div *ngIf="images.length > 1" class="flex overflow-y-auto pb-4 mt-4">
            <div *ngFor="let image of images; index as i"
                 class="block aspect-h-3 flex-shrink-0 aspect-w-4 mx-1 overflow-y-auto rounded-lg bg-gray-900">
              <img (click)="currentImageIndex = i" [src]="image.url"
                   [alt]="image.description"
                   class="object-cover h-28 object-center">
            </div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto mt-4 order-1 lg:order-2 w-full max-w-2xl md:mt-16 lg:col-span-3 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-100">
        <div class="flex flex-col-reverse">
          <div class="mt-4">
            <h1 class="text-2xl font-bold tracking-tight text-white sm:text-3xl">{{ project.name }}</h1>

            <h2 id="information-heading" class="sr-only">{{ 'SR.PROJECT_INFORMATION' | translate }}</h2>
            <p class="mt-2 text-sm text-gray-500">{{ project.startedAt | date: 'yyyy.MM.dd' }}
              - {{ project.completedAt | date: 'yyyy.MM.dd' }}</p>
          </div>

          <div>
            <h3 class="sr-only">{{ 'SR.DESCRIPTION' | translate }}</h3>
            <div class="flex items-center">
              <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20"
                   fill="currentColor"
                   aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"/>
              </svg>
              <svg *ngIf="project.relevanceScore > 20" class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20"
                   fill="currentColor"
                   aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"/>
              </svg>
              <svg *ngIf="project.relevanceScore > 30" class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20"
                   fill="currentColor"
                   aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"/>
              </svg>
              <svg *ngIf="project.relevanceScore > 40" class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20"
                   fill="currentColor"
                   aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"/>
              </svg>
              <svg *ngIf="project.relevanceScore > 50" class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20"
                   fill="currentColor"
                   aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"/>
              </svg>
            </div>
            <p class="sr-only">{{ project.relevanceScore }} {{ 'SR.POINTS' | translate }}</p>
          </div>
        </div>

        <p class="mt-6 text-gray-500">{{ getContentByLanguage(project.shortDescription) }}</p>

        <div class="mt-4 lg:mt-10 lg:border-t border-gray-200 pt-4 lg:pt-10">
          <h3 class="text-md lg:text-sm font-medium text-gray-100">{{ 'PROJECT.FACTS' | translate }}</h3>
          <div class="prose prose-sm mt-4 text-gray-500">
            <ul role="list">
              <li *ngIf="project.type">{{ snakeCaseToNormal(project.type) }} {{ snakeCaseToNormal(project.category) }}
                Project
              </li>
              <li *ngIf="project.workDays">{{ project.workDays }} {{ 'PROJECT.WORKDAYS' | translate }}</li>
              <li *ngIf="project.client">{{ 'PROJECT.CLIENT' | translate }}: {{ project.client }}</li>
              <li *ngIf="project.language">{{ 'PROJECT.LANGUAGE' | translate }}: {{ snakeCaseToNormal(project.language) }}</li>
              <li *ngIf="project.volume">{{ 'PROJECT.VOLUME' | translate }}: {{ project.volume }}</li>
              <li *ngIf="project.teamSize">{{ 'PROJECT.TEAM_SIZE' | translate }}: {{ project.teamSize }}</li>
            </ul>
          </div>
        </div>

        <div class="mt-4 lg:mt-10 lg:border-t border-gray-200 pt-4 lg:pt-10">
          <h3 class="text-md lg:text-sm font-medium text-gray-100">{{ 'PROJECT.ROLES' | translate }}</h3>
          <div class="prose prose-sm mt-4 text-gray-500">
            <ul role="list">
              <li *ngFor="let role of project.roles">{{ snakeCaseToNormal(role) }}</li>
            </ul>
          </div>
        </div>

        <div class="mt-4 lg:mt-10 lg:border-t border-gray-200 pt-4 lg:pt-10">
          <h3 class="text-md lg:text-sm font-medium text-gray-100">{{ 'PROJECT.SKILLS' | translate }}</h3>
          <div class="prose prose-sm mt-4 text-gray-500">
            <ul role="list">
              <li *ngFor="let skill of project.skills">{{ skill.name }}</li>
            </ul>
          </div>
        </div>

        <div *ngIf="hasVisiteLinks" class="mt-4 lg:mt-10 lg:border-t border-gray-200 pt-4 lg:pt-10">
          <h3 class="text-md lg:text-sm font-medium text-gray-100">{{ 'PROJECT.VISITE' | translate }}</h3>
          <ul role="list" class="mt-4 flex items-center space-x-6">
            <li *ngFor="let link of links">
              <a
                *ngIf="(link.description.startsWith('Github') || link.description.startsWith('GitHub')) && link.active === true"
                [href]="link.url"
                [ngbTooltip]="link.description"
                target="_blank"
                class="text-gray-200 hover:text-gray-500">
                <span class="sr-only">{{ link.description }}</span>
                <svg aria-hidden="true" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                  <path clip-rule="evenodd"
                        d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                        fill-rule="evenodd"/>
                </svg>
              </a>
              <a *ngIf="link.description.startsWith('Website') && link.active === true" [href]="link.url"
                 [ngbTooltip]="link.description"
                 target="_blank"
                 class="text-gray-200 hover:text-gray-500">
                <span class="sr-only">{{ link.description }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                  <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM8.547 4.505a8.25 8.25 0 1 0 11.672 8.214l-.46-.46a2.252 2.252 0 0 1-.422-.586l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.211.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.654-.261a2.25 2.25 0 0 1-1.384-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.279-2.132Z" clip-rule="evenodd" />
                </svg>
              </a>
              <a *ngIf="link.description.startsWith('Book') && link.active === true" [href]="link.url"
                 [ngbTooltip]="link.description"
                 target="_blank"
                 class="text-gray-200 hover:text-gray-500">
                <span class="sr-only">{{ link.description }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                  <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
                </svg>
              </a>
              <a *ngIf="link.description.startsWith('Document') && link.active === true" [href]="link.url"
                 [ngbTooltip]="link.description"
                 target="_blank"
                 class="text-gray-200 hover:text-gray-500">
                <span class="sr-only">{{ link.description }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                  <path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625Z" />
                  <path d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mx-auto order-2 lg:order-2 w-full max-w-2xl lg:col-span-4 mt-0 lg:max-w-none">
        <div id="tab-panel-reviews" class="-mb-10" aria-labelledby="tab-reviews" role="tabpanel" tabindex="0">
          <h3 class="sr-only">{{ 'SR.DESCRIPTION' | translate }}</h3>
          <div class="prose prose-sm max-w-none text-gray-500">
            <div class="mt-4 pt-4 lg:mt-0 lg:border-0 lg:pt-0">
              <h4 class="text-md font-medium text-gray-100">{{ 'PROJECT.GOALS' | translate }}</h4>
              <p
                class="text-md text-gray-500 mt-4 lg:mt-0">{{ getContentByLanguage(project.goal) }}</p>
            </div>
            <div class="mt-4 pt-4 lg:mt-0 lg:border-0">
              <h4 class="text-md font-medium text-gray-100">{{ 'PROJECT.ADDITIONAL' | translate }}</h4>
              <p
                class="text-md text-gray-500 mt-4 lg:mt-0 lg:pb-8">{{ getContentByLanguage(project.description) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
