server {
    listen ${PORT};
    server_name localhost;
    gzip on;
    gzip_types      text/plain application/x-javascript application/javascript text/xml text/css application/xml;
    gzip_proxied    any;
    gzip_comp_level 5;
    gzip_min_length 25;
    gzip_vary       on;

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        expires 30d;
        add_header Cache-Control "public, max-age=2592000";
    }
}
