h2 {
  font-size: 4.5rem;
  font-family: "Inter-Black", sans-serif;
  color: var(--main-red-color);
  text-align: left;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.5rem;
  font-family: "Inter-Semi-Bold", sans-serif;
}

.project-date {
  font-family: "Inter-Bold", sans-serif;
  color: var(--main-black-color);
  font-size: 1rem;
}

.project-title {
  min-height: 2em;
}

.keyword {
  border-radius: 3px 0 0 3px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 15px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  background-color: var(--main-black-color);
  color: white;
  font-size: 0.8rem;
}

.keyword::after {
  background: var(--main-background-color);
  border-bottom: 13px solid transparent;
  border-left: 10px solid var(--main-black-color);
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.card {
  width: calc(50% - 2rem);
  background-color: var(--main-background-color);
  border: none;
  margin: 1rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 400ms;
}

.card:hover .card-front {
  opacity: 0;
}

.card:hover .card-back {
  opacity: 1;
}

.card-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card-front {
  padding: 2.5rem 1rem;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  transition: all 400ms;
  z-index: 1;
  padding: 10px;
  top: 0;
  opacity: 0;
}

a {
  color: var(--main-red-color);
  font-size: 2rem;
  text-decoration: none;
}

a fa-icon:first-child {
  margin-right: .5rem;
}

a fa-icon:last-child {
  margin-left: .5rem;
}

a fa-icon:hover {
  color: var(--main-black-color);
}

.action-button {
  font-size: 1.2rem;
}

.card:nth-of-type(0), .card:nth-of-type(1) {
  animation-delay: 0ms;
}

.card:nth-of-type(1) {
  animation-delay: 150ms;
}

.card:nth-of-type(2) {
  animation-delay: 300ms;
}

.card:nth-of-type(3) {
  animation-delay: 450ms;
}

.card:nth-of-type(4) {
  animation-delay: 600ms;
}

.card:nth-of-type(5) {
  animation-delay: 750ms;
}

.card:nth-of-type(6) {
  animation-delay: 900ms;
}

.card:nth-of-type(7) {
  animation-delay: 1050ms;
}

.card:nth-of-type(8) {
  animation-delay: 1200ms;
}

.card:nth-of-type(9) {
  animation-delay: 1350ms;
}

.card:nth-of-type(10) {
  animation-delay: 1500ms;
}

.card:nth-of-type(11) {
  animation-delay: 1650ms;
}

.card:nth-of-type(12) {
  animation-delay: 1800ms;
}

.card:nth-of-type(13) {
  animation-delay: 1950ms;
}

.card:nth-of-type(14) {
  animation-delay: 2100ms;
}

.card:nth-of-type(15) {
  animation-delay: 2250ms;
}

.card:nth-of-type(16) {
  animation-delay: 2400ms;
}

.card:nth-of-type(17) {
  animation-delay: 2550ms;
}

.card:nth-of-type(18) {
  animation-delay: 2700ms;
}

.card:nth-of-type(19) {
  animation-delay: 2850ms;
}

.card:nth-of-type(20) {
  animation-delay: 3000ms;
}

.z-index--100 {
  z-index: -100;
}

.z-index--50 {
  z-index: -50;
}
