h4 {
  font-family: "Inter-Black", serif;
  color: var(--main-black-color);
  font-size: 1rem;
}

.link-container {
  width: 100%;
  text-align: right;
}

a.red-link {
  color: var(--main-black-color);
  font-size: 2rem;
  text-decoration: none;
  margin-right: 2rem;
  border-radius: 100%;
}


button {
  color: var(--main-black-color);
  font-size: 2rem;
  text-decoration: none;
}


.icon-box {
  height: 100px;
  width: 100px;
}
