<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{'PROJECTS.HEADING' | translate}}</h2>

      <div class="row justify-content-evenly">
        <div class="col-6 card" *ngFor="let project of projects;">
          <div class="card-body">

            <h5 class="card-title">{{project.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{project.date}}</h6>

            <p class="card-text">
              <ng-container *ngIf="currentLanguage=='en'">
                {{project.description_en}}
              </ng-container>
              <ng-container *ngIf="currentLanguage=='de'">
                {{project.description_de}}
              </ng-container>
            </p>

            <div class="keyword" *ngFor="let keyword of project.keywords">
              {{keyword.tag}}
            </div>

            <a class="card-link" *ngIf="project.website" href="{{project.website}}">{{'PROJECTS.WEBSITE' | translate}}</a>
            <a class="card-link" *ngIf="project.github" href="{{project.github}}">Source Code</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
