<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-6 col-xxl-6">
      <h2 #heading
          [className]="isVisible[0] ? 'animate__animated animate__fadeIn' : 'invisible'">
        {{'PROJECTS.HEADING' | translate}}
      </h2>

      <p #intro_text
         [className]="isVisible[1] ? 'animate__animated animate__fadeIn' : 'invisible'">
        {{'PROJECTS.INTRO_TEXT' | translate}}
      </p>

      <div #search_button
           class="w-100 text-end d-flex justify-content-end">
        <div class="fit-content"
             ngbTooltip="Search for Tag"
             placement="top">
          <div
            ngbDropdown
            placement="bottom">
            <button [className]="isVisible[2] ? 'btn action-button ms-1 me-1 animate__animated animate__fadeIn' : 'invisible'"
                    id="show_settings"
                    ngbDropdownToggle>
              <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </button>
            <div aria-labelledby="show_settings" ngbDropdownMenu>
              <button
                (click)="changeSelectedProjects(select)"
                *ngFor="let select of selectableTags"
                ngbDropdownItem>
                {{select.tag}}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div #project_container class="row justify-content-evenly">
        <div *ngFor="let project of currentSelectedProjects;"
             [className]="isVisible[3] ? 'card animate__animated animate__fadeIn' : 'card invisible'">
          <div class="card-content">
            <div class="card-front">
              <div class="row">
                <div class="col-12 text-center project-title">
                  <h4>{{project.title}}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <span class="project-date">
                    {{project.date}}
                  </span>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12 text-center">
                  <ng-container *ngFor="let keyword of project.keywords">
                    <div *ngIf="keyword.tag != 'Top'" class="keyword">
                      {{keyword.tag}}
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="card-back">
              <div class="row mt-3">
                <div class="col-12 text-center">
                  <p>
                    <ng-container *ngIf="currentLanguage=='en'">
                      {{project.description_en.slice(0, 100)}}
                    </ng-container>
                    <ng-container *ngIf="currentLanguage=='de'">
                      {{project.description_de.slice(0, 100)}}
                    </ng-container>
                  </p>
                </div>
              </div>
              <div class="row mt-2 mb-2">
                <div class="col-12 text-center">
                  <a *ngIf="project.website"
                     [href]="project.website"
                     target="_blank">
                    <fa-icon [icon]="faBrowser"></fa-icon>
                  </a>
                  <a *ngIf="project.github"
                     [href]="project.github"
                     target="_blank">
                    <fa-icon [icon]="faGithub"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
