<div class="hero-container row justify-content-center align-items-center">
  <div class="d-none d-xl-block col-6 justify-content-center text-center">
    <img [alt]="'ABOUT.PICTURE_ALT' | translate" class="animate__animated animate__fadeInLeft"
         src="../../../assets/images/landing_image.jpg">
  </div>
  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 justify-content-center container text-start colored-text-container">
    <div class="row align-items-center m-auto h-100 width-container-text">
      <div class="col">
        <h1 class="animate__animated animate__fadeInRight">{{'ABOUT.HELLO' | translate}}<span
          class="semicolon-white">;</span></h1>
        <h2 class="animate__animated animate__fadeInRight">{{'ABOUT.MAX' | translate}}<span
          class="semicolon-black">;</span></h2>
        <h3 class="animate__animated animate__fadeInRight">{{'ABOUT.SHORT_DESC' | translate}}</h3>
        <p class="animate__animated animate__fadeInRight">{{'ABOUT.LONG_DESC' | translate}}</p>
      </div>
    </div>
  </div>

</div>

