<div class="hero-container row justify-content-center align-items-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-6 col-xxl-6 text-start">
    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Hello World;</h1>
    <h2 class="animate__animated animate__fadeInLeft animate__delay-1s">I'm</h2>&nbsp;&nbsp;&nbsp;<h2
    class="animate__animated animate__fadeInRight animate__delay-1s">Max;</h2>
    <h3 class="animate__animated animate__fadeInUpBig animate__delay-1s">I am studying and working in the area of
      computer science and business administration.</h3>
  </div>
</div>
