.navbar {
  position: fixed;
  width: 100%;
  background: none;
  z-index: 1;
}

.navbar-brand {
  margin-left: 10%;
  margin-right: 10%;
  pointer-events: none;
  color: #cb1237;
  font-family: "Inter-Bold", sans-serif;
}

.navbar-nav {
  margin-right: 10%;
}

/*SCROLL-BOX*/
.scroll-wrapper {
  overflow-x: hidden;
  background-color: transparent !important;
  z-index: 0;
}

.nav-item:nth-of-type(1) .nav-link{
  animation-delay: 1200ms;
}

.nav-item:nth-of-type(2) .nav-link{
  animation-delay: 1400ms;
}

.nav-item:nth-of-type(3) .nav-link{
  animation-delay: 1600ms;
}

.nav-item:nth-of-type(4) .nav-link{
  animation-delay: 1800ms;
}

.nav-item:nth-of-type(5) .nav-link{
  animation-delay: 2000ms;
}

.nav-item:nth-of-type(6) .nav-link{
  animation-delay: 2200ms;
}
