<header #header class="fixed w-full top-0 right-0 z-10 bg-gray-900 lg:bg-transparent">
  <nav #headerInner aria-label="Global" class="mx-auto flex flex-wrap lg:flex-nowrap items-center justify-between px-2 py-2 md:px-4 xl:px-8">
    <div #dummy_box class="hidden xl:block basis-1/2 will-change-auto"></div>
    <div class="flex xl:flex-1 basis-1/2">
      <button (click)="scrollToElement(hero)"
              class="name ms-3 sm:mx-2 my-2 md:px-4 xl:mx-4 hover-text-main-color text-white font-extrabold text-base md:text-xl">
        {{ 'VAR.NAME' | translate }}
      </button>
    </div>
    <div class="flex mr-8 lg:hidden">
      <button (click)="toggleNav()"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-21.5 text-gray-700"
              type="button">
        <span class="sr-only">{{ 'SR.TOGGLE_MAIN_MENU' | translate }}</span>
        <svg aria-hidden="true" class="h-6 w-6" fill="none" stroke="white" stroke-width="1.5" viewBox="0 0 24 24">
          <path *ngIf="isMenuCollapsed" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path *ngIf="!isMenuCollapsed" d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <div [classList]="isMenuCollapsed ? 'hidden lg:flex lg:gap-x-12' : 'block lg:flex lg:gap-x-12 w-full lg:w-auto ms-3 sm:mx-2 my-2 md:px-4'">
      <ul class="flex flex-col lg:flex-row">
        <li>
          <button (click)="scrollToElement(hero)"
                  [classList]="activeMenuEntry === 1 ? 'text-sm font-regular leading-6 me-4 cursor-pointer hover-text-main-color text-main-color' : 'text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >{{ 'NAVBAR.HOME' | translate }}
          </button>
        </li>
        <li>
          <button (click)="scrollToElement(projects_link)"
                  [classList]="activeMenuEntry === 2 ? 'text-sm font-regular leading-6 me-4 cursor-pointer hover-text-main-color text-main-color' : 'text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >{{ 'NAVBAR.PROJECTS' | translate }}
          </button>
        </li>
        <li>
          <button (click)="scrollToElement(skills)"
                  [classList]="activeMenuEntry === 3 ? 'text-sm font-regular leading-6 me-4 cursor-pointer hover-text-main-color text-main-color' : 'text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >{{ 'NAVBAR.SKILLS' | translate }}
          </button>
        </li>
        <li>
          <button (click)="scrollToElement(contact)"
                  [classList]="activeMenuEntry === 4 ? 'text-sm font-regular leading-6 me-4 cursor-pointer hover-text-main-color text-main-color' : 'text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >{{ 'NAVBAR.CONTACT' | translate }}
          </button>
        </li>
        <li>
          <button (click)="changeLang('de')"
                  *ngIf="translate.currentLang == 'en'"
                  [className]="isLanguageChanged ? 'text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100' : 'text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >
            Deutsch
          </button>
          <a (click)="changeLang('en')"
             *ngIf="translate.currentLang == 'de'"
             [className]="isLanguageChanged ? 'text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100' : 'text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >
            English
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div #hero>
  <app-hero></app-hero>
</div>
<div #projects_link>
  <app-projects [projects]="projects" (overlayProject)="onOpenOverlay($event)"></app-projects>
</div>
<div #skills>
  <app-skills></app-skills>
</div>
<div #contact>
  <app-contact></app-contact>
</div>
<div>
  <app-footer></app-footer>
</div>

<app-project [project]="currentProject" *ngIf="currentProject" (overlayProject)="onOpenOverlay($event)"></app-project>
