<header #header class="fixed w-full top-0 right-0 z-10 bg-gray-900 lg:bg-transparent min-h-60">
  <nav #headerInner aria-label="Global"
       class="mx-auto flex flex-wrap lg:flex-nowrap items-center justify-between px-2 py-2 md:px-4 xl:px-8">
    <div #dummy_box class="hidden xl:block basis-1/2 will-change-auto"></div>
    <div class="flex xl:flex-1 basis-1/2">
      <button (click)="scrollToElement(hero)"
              [classList]="isOverlayActive ? 'name my-2 ms-2 lg:ms-1 hover-text-main-color text-white font-extrabold text-base md:text-xl' : 'name my-2 ms-2 lg:ms-2 hover-text-main-color text-white font-extrabold text-base md:text-xl'">
        {{ 'VAR.NAME' | translate }}
      </button>
    </div>
    <div *ngIf="!isOverlayActive" class="flex mr-8 lg:hidden">
      <button (click)="toggleNav()"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-21.5 text-gray-700"
              type="button">
        <span class="sr-only">{{ 'SR.TOGGLE_MAIN_MENU' | translate }}</span>
        <svg aria-hidden="true" class="h-6 w-6" fill="none" stroke="white" stroke-width="1.5" viewBox="0 0 24 24">
          <path *ngIf="isMenuCollapsed" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path *ngIf="!isMenuCollapsed" d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <div *ngIf="isOverlayActive" class="flex mr-10 w-fit">
      <button (click)="closeOverlay()"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-21.5 text-gray-700"
              type="button">
        <span class="sr-only">{{ 'SR.CLOSE_OVERLAY' | translate }}</span>
        <svg aria-hidden="true" class="h-6 w-6" fill="none" stroke="white" stroke-width="1.5" viewBox="0 0 24 24">
          <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <ng-container *ngIf="!isOverlayActive">
    <div
      [classList]="isMenuCollapsed ? 'hidden lg:flex lg:gap-x-12' : 'block lg:flex lg:gap-x-12 w-full lg:w-auto my-2 ms-2 lg:ms-2'">
      <ul [classList]="isOverlayActive ? 'hidden':'flex flex-col lg:flex-row'">
        <li>
          <button (click)="scrollToElement(hero)"
                  [classList]="activeMenuEntry === 1 ? 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer hover-text-main-color text-main-color' : 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >
            <span class="sr-only">{{ 'NAVBAR.HOME' | translate }}</span>
            {{ 'NAVBAR.HOME' | translate }}
          </button>
        </li>
        <li>
          <button (click)="scrollToElement(projects_link)"
                  [classList]="activeMenuEntry === 2 ? 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer hover-text-main-color text-main-color' : 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >
            <span class="sr-only">{{ 'NAVBAR.PROJECTS' | translate }}</span>
            {{ 'NAVBAR.PROJECTS' | translate }}
          </button>
        </li>
        <li>
          <button (click)="scrollToElement(skills)"
                  [classList]="activeMenuEntry === 3 ? 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer hover-text-main-color text-main-color' : 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >
            <span class="sr-only">{{ 'NAVBAR.SKILLS' | translate }}</span>
            {{ 'NAVBAR.SKILLS' | translate }}
          </button>
        </li>
        <li>
          <button (click)="scrollToElement(contact)"
                  [classList]="activeMenuEntry === 4 ? 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer hover-text-main-color text-main-color' : 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >
            <span class="sr-only">{{ 'NAVBAR.CONTACT' | translate }}</span>
            {{ 'NAVBAR.CONTACT' | translate }}
          </button>
        </li>
        <li>
          <button (click)="changeLang('de')"
                  *ngIf="translate.currentLang == 'en'"
                  [className]="isLanguageChanged ? 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100' : 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >
            <span class="sr-only">Deutsch</span>
            Deutsch
          </button>
          <a (click)="changeLang('en')"
             *ngIf="translate.currentLang == 'de'"
             [className]="isLanguageChanged ? 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100' : 'mb-2 lg:mb-0 text-md lg:text-sm font-regular leading-6 me-4 cursor-pointer text-gray-100 hover-text-main-color focus:text-gray-100'"
          >
            <span class="sr-only">English</span>
            English
          </a>
        </li>
      </ul>
    </div>
    </ng-container>
  </nav>
</header>

<div #hero>
  <app-hero></app-hero>
</div>
<div #projects_link>
  <app-projects (overlayProject)="onOpenOverlay($event)" [projects]="projects"></app-projects>
</div>
<div #skills>
  <app-skills></app-skills>
</div>
<div #contact>
  <app-contact></app-contact>
</div>
<div>
  <app-footer></app-footer>
</div>

<app-project #project *ngIf="currentProject" [project]="currentProject"></app-project>
