.name {
  font-family: "Inter-Regular", sans-serif;
}

.spinner-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background-color);
  color: white;
  z-index: 999;
}

* {
  will-change: transform;
}

.min-h-60 {
  min-height: 60px;
}
