<nav class="navbar navbar-light navbar-expand-lg mt-3 mb-3">
  <a class="navbar-brand" (click)="scrollToElement(landing)">Maximilian Hagn</a>
  <button (click)="toggleNav()" class="navbar-toggler" type="button">
    <fa-icon [icon]="isMenuCollapsed ? faBars : faXmark"></fa-icon>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul [(activeId)]="activeMenuEntry" class="navbar-nav ms-auto mb-2 mb-lg-0" ngbNav>
      <li [ngbNavItem]="1" class="nav-item">
        <a (click)="scrollToElement(landing)" class="nav-link" ngbNavLink>Home</a>
      </li>
      <li [ngbNavItem]="2" class="nav-item">
        <a (click)="scrollToElement(publications)" class="nav-link" ngbNavLink>Publikationen</a>
      </li>
      <li [ngbNavItem]="3" class="nav-item">
        <a (click)="scrollToElement(projects)" class="nav-link" ngbNavLink>Projekte</a>
      </li>
      <li [ngbNavItem]="4" class="nav-item">
        <a (click)="scrollToElement(cv)" class="nav-link" ngbNavLink>Lebenslauf</a>
      </li>
      <li [ngbNavItem]="5" class="nav-item">
        <a (click)="scrollToElement(contact)" class="nav-link" ngbNavLink>Kontakt</a>
      </li>
    </ul>
  </div>
</nav>

<ng-scrollbar #scrollable
              class="scroll-event"
              pointerEventsMethod="scrollbar"
              thumbClass="scrollbar"
              track="all">

  <div class="scroll-wrapper">
    <div #landing>
      <app-landing></app-landing>
    </div>
    <div #publications>
      <app-publications></app-publications>
    </div>
    <div #projects>
      <app-projects></app-projects>
    </div>
    <div #cv>
      <app-cv></app-cv>
    </div>
    <div #contact>
      <app-contact></app-contact>
    </div>
    <div #footer>
      <app-footer></app-footer>
    </div>

  </div>

</ng-scrollbar>
