<div class="container">
  <div class="row">
    <div class="col">
      <h1>Curriculum Vitae</h1>
      <h2>Maximilian Alfred Hagn</h2>
      <ul>
        <li>maximilian@hagn.network</li>
        <li><a href="#">Telefonnummer anfragen</a></li>
        <li><a href="#">Adresse anfragen</a></li>
      </ul>
      <h2>Persönliche Daten</h2>
      <ul>
        <li>Geburtstag: 25.08.1997</li>
        <li>Geburtsort: Dresden, Deutschland</li>
        <li>Staatsbürgerschaft: Deutsch</li>
      </ul>
    </div>
    <div class="col">
      <img alt="Bild von Maximilian Hagn" src="assets/Max_CV.jpg">
    </div>
  </div>
  <h2>Ausbildung</h2>
  <ul>
    <li>
      <b>09/2018 - Folgende:</b> Technische Universität Wien
      <ul>
        <li><b>09/2018 - 12/2021:</b> Studienrichtung Wirtschaftsinformatik</li>
        <li><b>09/2021 - 08/2022:</b> Studienrichtung Software & Information Engineering</li>
      </ul>
    </li>
    <li>
      <b>09/2012 - 05/2018:</b> Höhere Technische Bundeslehranstalt, 1030 Wien
      <ul>
        <li><b>09/2015 - 05/2018:</b> Schwerpunkt Medientechnik</li>
      </ul>
    </li>
    <li><b>09/2008 - 06/2012:</b> Gymnasium St. Ursula, 1230 Wien</li>
    <li><b>09/2004 - 06/2008:</b> Volksschule Maurer Lange Gasse, 1230 Wien</li>
  </ul>
  <h2>Berufserfahrung</h2>
  <ul>
    <li>
      <b>09/2021 - Folgende:</b>
      <ul>
        <li>Technischer Mitarbeiter, Teilzeit (20 Wochenstunden)</li>
        <li>Aqilo Business Consulting GmbH</li>
      </ul>
    </li>
    <li>
      <b>10/2018 - 08/2021:</b>
      <ul>
        <li>Softwareentwickler, Geringfügiger Nebenjob (11 Wochenstunden)</li>
        <li>Avalon Computersystem GmbH</li>
      </ul>
    </li>
    <li>
      <b>07/2017 - 07/2017:</b>
      <ul>
        <li>Buchhalter, Ferial-Praktikum</li>
        <li>Societê General Equipment Finance</li>
      </ul>
    </li>
    <li>
      <b>10/2016 - 11/2016:</b>
      <ul>
        <li>Buchhalter, Geringfügiger Nebenjob</li>
        <li>Societê General Equipment Finance</li>
      </ul>
    </li>
    <li>
      <b>07/2016 - 07/2016:</b>
      <ul>
        <li>Softwareentwickler, Ferial-Praktikum</li>
        <li>STIWA Holding GmbH</li>
      </ul>
    </li>
    <li>
      <b>07/2014 - 07/2014:</b>
      <ul>
        <li>Softwareentwickler, Ferial-Praktikum</li>
        <li>Avalon Computersystem GmbH</li>
      </ul>
    </li>
  </ul>
  <h2>Auszeichnungen und Anerkennungen</h2>
  <ul>
    <li>2014 – 2018: Oberstufen Klassensprecher</li>
    <li>2015/16: Projektleiter eines informationstechnologischen Projektes im Rahmen des Projektmanagement Unterrichts
    </li>
    <li>2016 – 2017: Stellvertretender Abteilungssprecher und 3. Im SGA (3. StV. Schulsprecher)</li>
    <li>2016/17: Projektleiter eines informationstechnologischen Projektes (Produktflyer für den Service „Siecams“ von
      Siemens AG) im Rahmen des Projektmanagement Unterrichts
    </li>
    <li>2016/17: Kommunikation und Teambildung Seminar (34 Unterrichtseinheiten)</li>
    <li>2017: IPMA – Projektmanagement Zertifizierung (jZpm)</li>
    <li>2017/18: Projektleiter der Diplomarbeit „Creative Puzzle - Webprogrammierung E-Learning Plattform“ (Benotung:
      Sehr Gut)
    </li>
  </ul>
  <h2>Sprachen</h2>
  <ul>
    <li>
      Deutsch (Muttersprache)
    </li>
    <li>
      Englisch B2 (Erste lebende Fremdsprache)
    </li>
  </ul>
  <h2>Kenntnisse</h2>
  <div id="myCanvasContainer">
    <canvas id="tagcanvas" width="560" height="400" style="max-width: 560px; width: 100%">
      <ul id="tags">
        <li><a>HTML</a></li>
        <li><a>CSS</a></li>
        <li><a>C#</a></li>
        <li><a>Blazor</a></li>
        <li><a>Electron</a></li>
        <li><a>C</a></li>
        <li><a>C++</a></li>
        <li><a>Java</a></li>
        <li><a>PHP</a></li>
        <li><a>Perl</a></li>
        <li><a>Spring Boot</a></li>
        <li><a>SQL</a></li>
        <li><a>Compiler Construction</a></li>
        <li><a>Typescript</a></li>
        <li><a>Angular</a></li>
        <li><a>Project Management</a></li>
        <li><a>Algorithms</a></li>
        <li><a>Laravel</a></li>
        <li><a>Linux</a></li>
        <li><a>Windows</a></li>
        <li><a>macOS</a></li>
        <li><a>Clang</a></li>
        <li><a>LLVM</a></li>
      </ul>
    </canvas>
  </div>

  <table>
    <tr>
      <td>Textverarbeitungsprogramme (Microsoft Word, Pages, Google Docs, LibreOffice Writer)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Tabellenkalkulationsprogramme (Microsoft Excel, Numbers, Google Tabellen, LibreOffice Calc)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Präsentationsprogramme (Microsoft PowerPoint, Keynote)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>E-Mail-Programme (Microsoft Outlook, Thunderbird)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Betriebssysteme (Linux, macOS, Windows)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Webseiten-Design (HTML und CSS)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Webseiten-Funktionen (PHP / Laravel, JAVA / Spring Boot, C# / Blazor, Typescript / Angular, JavaScript)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>General Purpose Languages (C, C++, Perl, Java)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Apple Applikationen (Xcode 9.0, Swift)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Netzwerktechnik</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Native Applikationen (Cordova)</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Projektmanagement (Lineare Modelle, Agile Methoden):</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Organisationstalent</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Verantwortungsbewusst</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Teamfähigkeit</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Kommunikationsfähigkeit</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Zielstrebigkeit</td>
      <td>
        <div class="row">
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_black"></div>
          </div>
          <div class="col">
            <div class="point_gray"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>B und AM Führerschein, Motorboot Führerschein</td>
    </tr>
  </table>
</div>

