<script src="cv.component.ts"></script>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-6 col-xxl-6">
      <h2 #heading
          [className]="isVisible[0] ? 'animate__animated animate__fadeIn' : 'invisible'">
        {{'CV.HEADING' | translate}}
      </h2>
      <h3 #name
          [className]="isVisible[1] ? 'animate__animated animate__fadeIn' : 'invisible'">
        Maximilian Alfred Hagn
      </h3>

      <div #link_container
           [className]="isVisible[2] ? 'link-container animate__animated animate__fadeIn' : 'invisible'">
        <a [ngbTooltip]="'CV.TOOLTIP_MAIL' | translate"
           href="mailto:maximilian@hagn.network"
           placement="bottom">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
        <a [ngbTooltip]="'CV.TOOLTIP_PHONE' | translate"
           href="mailto:maximilian@hagn.network"
           placement="bottom">
          <fa-icon [icon]="faPhone"></fa-icon>
        </a>
        <a [ngbTooltip]="'CV.TOOLTIP_ADDRESS' | translate"
           href="mailto:maximilian@hagn.network"
           placement="bottom">
          <fa-icon [icon]="faHouse"></fa-icon>
        </a>
      </div>

      <div id="myCanvasContainer">
        <canvas height="400" id="tagcanvas" style="max-width: 100%; width: 100%" width="560">
          <ul id="tags">
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>C#</a></li>
            <li><a>Blazor</a></li>
            <li><a>Electron</a></li>
            <li><a>C</a></li>
            <li><a>C++</a></li>
            <li><a>Java</a></li>
            <li><a>PHP</a></li>
            <li><a>Perl</a></li>
            <li><a>Spring Boot</a></li>
            <li><a>SQL</a></li>
            <li><a>Compiler Construction</a></li>
            <li><a>Typescript</a></li>
            <li><a>Angular</a></li>
            <li><a>Project Management</a></li>
            <li><a>Algorithms</a></li>
            <li><a>Laravel</a></li>
            <li><a>Linux</a></li>
            <li><a>Windows</a></li>
            <li><a>macOS</a></li>
            <li><a>Clang</a></li>
            <li><a>LLVM</a></li>
          </ul>
        </canvas>
      </div>

      <br><br>
      <h4>{{'CV.ACADEMIC' | translate}}</h4>
      <iframe src=
                "https://documents.hagn.network/docs/Hagn_CV_Academic.pdf"
              width="99%"
              height="700">
      </iframe>

      <br><br>

      <h4>{{'CV.DETAILED' | translate}}</h4>
      <iframe src=
                "https://documents.hagn.network/docs/Hagn_CV_Detailed.pdf"
              width="99%"
              height="700">
      </iframe>

      <!--
      <section #personal_data
               [className]="isVisible[3] ? 'animate__animated animate__fadeIn mt-4' : 'invisible mt-4'">
        <h4>{{'CV.PERSONAL' | translate}}</h4>
        <ul>
          <li>{{'CV.BIRTHDAY' | translate}}</li>
          <li>{{'CV.BIRTHPLACE' | translate}}</li>
          <li>{{'CV.CITIZENSHIP' | translate}}</li>
          <li>{{'CV.RESIDENCE' | translate}}</li>
        </ul>
      </section>

      <section #education
               [className]="isVisible[4] ? 'animate__animated animate__fadeIn' : 'invisible'">
        <h4>{{'CV.EDUCATION' | translate}}</h4>
        <ul>
          <li>
            <b>09/2018 - {{'CV.PRESENT' | translate}}:</b> {{'CV.UNIVERSITY' | translate}}
            <ul>
              <li><b>09/2018 - 05/2022:</b> {{'CV.BUSINESS_INFORMATICS' | translate}}</li>
              <li><b>09/2021 - 03/2023:</b> {{'CV.SOFTWARE_ENGINEERING' | translate}}</li>
            </ul>
          </li>
          <li>
            <b>09/2012 - 05/2018:</b> {{'CV.SCHOOL' | translate}}
            <ul>
              <li><b>09/2015 - 05/2018:</b> {{'CV.MEDIA_TECHNOLOGY' | translate}}</li>
            </ul>
          </li>
          <li><b>09/2008 - 06/2012:</b> {{'CV.MIDDLE_SCHOOL' | translate}}</li>
          <li><b>09/2004 - 06/2008:</b> {{'CV.ELEMENTARY_SCHOOL' | translate}}</li>
        </ul>
      </section>
      <section #employment
               [className]="isVisible[5] ? 'animate__animated animate__fadeIn' : 'invisible'">
        <h4>{{'CV.EMPLOYMENT' | translate}}</h4>
        <ul>
          <li>
            <b>11/2022 - 01/2023:</b>
            <ul>
              <li>{{'CV.UNIVERSITY_DESC' | translate}}</li>
              <li>{{'CV.UNIVERSITY' | translate}}</li>
            </ul>
          </li>
          <li>
            <b>09/2021 - 02/2023:</b>
            <ul>
              <li>{{'CV.AQILO_DESC' | translate}}</li>
              <li>Aqilo Business Consulting GmbH</li>
            </ul>
          </li>
          <li>
            <b>10/2018 - 08/2021:</b>
            <ul>
              <li>{{'CV.AVALON_DESC_PT' | translate}}</li>
              <li>{{'CV.AVALON' | translate}}</li>
            </ul>
          </li>
          <li>
            <b>07/2017 - 07/2017:</b>
            <ul>
              <li>{{'CV.SGEF_DESC_FP' | translate}}</li>
              <li>Societê General Equipment Finance</li>
            </ul>
          </li>
          <li>
            <b>10/2016 - 11/2016:</b>
            <ul>
              <li>{{'CV.SGEF_DESC_NJ' | translate}}</li>
              <li>Societê General Equipment Finance</li>
            </ul>
          </li>
          <li>
            <b>07/2016 - 07/2016:</b>
            <ul>
              <li>{{'CV.STIWA_DESC' | translate}}</li>
              <li>STIWA Holding GmbH</li>
            </ul>
          </li>
          <li>
            <b>07/2014 - 07/2014:</b>
            <ul>
              <li>{{'CV.AVALON_DESC_FP' | translate}}</li>
              <li>{{'CV.AVALON' | translate}}</li>
            </ul>
          </li>
        </ul>
      </section>
      <section #recognitions
               [className]="isVisible[6] ? 'animate__animated animate__fadeIn' : 'invisible'">
        <h4>{{'CV.ACHIEVEMENTS' | translate}}</h4>
        <h5>{{'CV.CERTIFICATIONS' | translate}}</h5>
        <ul>
          <li>{{'CV.PROJECT_CERTIFICATION' | translate}}</li>
          <li>{{'CV.TEAM_BUILDING' | translate}}</li>
        </ul>
        <h5>{{'CV.RECOGNITIONS' | translate}}</h5>
        <ul>
          <li>
            {{'CV.BSC_1' | translate}}
          </li>
          <li>
            {{'CV.LEADER_DIPLOMA' | translate}}
          </li>
          <li>
            {{'CV.LEADER_PROJECT' | translate}}
          </li>
          <li>
            {{'CV.HIGH_SCHOOL_REP' | translate}}
          </li>
        </ul>
      </section>
      <section #languages
               [className]="isVisible[7] ? 'animate__animated animate__fadeIn' : 'invisible'">
        <h4>{{'CV.LANGUAGES' | translate}}</h4>
        <ul>
          <li>
            {{'CV.GERMAN' | translate}}
          </li>
          <li>
            {{'CV.ENGLISH' | translate}}
          </li>
        </ul>
      </section>
      <section #skills
               [className]="isVisible[8] ? 'animate__animated animate__fadeIn' : 'invisible'">
        <h4>{{'CV.SKILLS_HEADING' | translate}}</h4>
        <div>
          <table>
            <tr>
              <td>{{'SKILLS.WORD_PROCESSORS' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.SPREADSHEET' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.PRESENTATION' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.E_MAIL_PROGRAMS' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.OPERATING_SYSTEMS' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.FRONT_END_DEVELOPMENT' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.BACK_END_DEVELOPMENT' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.GENERAL_PURPOSE' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.APPLE_APPS' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.NETWORK_ENGINEERING' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.NATIVE_APPS' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.COMPILERS' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.PROJECT_MANAGEMENT' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.ORGANIZATIONAL' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.RESPONSIBILITY' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.TEAM_SPIRIT' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.COMMUNICATION' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.DETERMINATION' | translate}}</td>
              <td class="point-container">
                <div class="row">
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_black"></div>
                  </div>
                  <div class="col">
                    <div class="point_gray"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'SKILLS.LICENSES' | translate}}</td>
            </tr>
          </table>
        </div>
      </section>
      -->
    </div>
  </div>
</div>
