h2 {
  font-size: 4.5rem;
  font-family: "Inter-Black", serif;
  color: var(--main-red-color);
  text-align: right;
  margin-bottom: 2rem;
}

h4 {
  font-family: "Inter-Black", serif;
  color: var(--main-black-color);
  font-size: 1rem;
}

.link-container {
  width: 100%;
  text-align: right;
}

a.red-link {
  color: var(--main-black-color);
  font-size: 2rem;
  text-decoration: none;
  margin-right: 2rem;
  border-radius: 100%;
}


button {
  color: var(--main-black-color);
  font-size: 2rem;
  text-decoration: none;
}
