h2 {
  font-size: 4.5rem;
  font-family: "Inter-Black", serif;
  color: #cb1237;
  text-align: right;
  margin-bottom: 2rem;
}

h4 {
  font-family: "Inter-Black", serif;
  color: #343333;
  font-size: 1rem;
}

.link-container {
  width: 100%;
  text-align: right;
  margin-bottom: 3rem;
}

a {
  color: #cb1237;
  font-size: 2rem;
  text-decoration: none;
  margin-right: 2rem;
  border-radius: 100%;
}


button {
  color: #cb1237;
  font-size: 2rem;
  text-decoration: none;
}
