<div class="bg-white py-8 md:py-24 max-w-full">
  <div *ngIf="!loadingSkillStats" class="container">
    <div
      class="mx-auto px-6 lg:px-32 bg-gray-800 drop-shadow-lg hover:drop-shadow-2xl transition-all ease-in-out duration-75 rounded-3xl mt-1 md:mt-6 py-8 md:py-32">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Skills</h2>
        <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
          <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
            <p class="text-xl leading-8 text-gray-300">Engineering innovation, one solution at a time. My diverse skills
              in programming and technology turn complex challenges into elegant, efficient software.</p>
            <p class="mt-10 max-w-xl text-base leading-7 text-gray-200">As a software engineer, my journey through the
              ever-evolving landscape of technology has equipped me with a broad array of skills. This diverse expertise
              allows me to approach challenges creatively and deliver cutting-edge solutions. I'm passionate about
              continuous learning and staying ahead of industry trends, ensuring that my contributions are both
              innovative
              and impactful. From concept to code, I thrive in crafting high-quality, user-focused software.</p>
          </div>
          <div class="lg:flex lg:flex-auto lg:justify-center">
            <dl class="w-64 space-y-8 xl:w-80">
              <div class="flex flex-col-reverse gap-y-4">
                <dt #skill_box class="text-base leading-7 text-gray-300">Programming Languages</dt>
                <dd class="text-5xl font-semibold tracking-tight text-white">{{ displaySkillStats.languageCount }}</dd>
              </div>
              <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-300">Total Skills</dt>
                <dd class="text-5xl font-semibold tracking-tight text-white">{{ displaySkillStats.skillCount }}</dd>
              </div>
              <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-300">Technologies</dt>
                <dd class="text-5xl font-semibold tracking-tight text-white">{{ displaySkillStats.technologyCount }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loadingSkills" class="container mt-4">
    <div class="flex flex-col-reverse md:flex-row-reverse md:justify-end gap-4">
      <div class="max-w-4xl lg:w-1/3">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
          <div class="flex flex-row flex-wrap gap-6 text-gray-900">
            <ng-container *ngFor="let skill of skills">
              <div *ngIf="getSkillGraphic(skill.name)" [ngbTooltip]="skill.name + ' (used ' + skill.count + ' times)'"
                   class="bg-white flex justify-center align-middle text-xl md:text-2xl lg:text-3xl xl:text-4xl p-3 md:p-4 z-50 drop-shadow-lg hover:drop-shadow-xl transition-all ease-in-out duration-75 rounded-xl md:rounded-3xl">
                <i [classList]="getSkillGraphic(skill.name)"></i>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div
        class="max-w-7xl px-6 lg:px-8 z-50 lg:w-2/3 flex justify-center align-middle drop-shadow-lg hover:drop-shadow-2xl transition-all length ease-in-out duration-75 bg-gray-900 rounded-3xl py-16">
        <div class="max-w-2x lg:mx-0 lg:max-w-none flex justify-center items-center">
          <div class="h-fit w-fit" id="myCanvasContainer">
            <canvas height="600" id="tagcanvas" style="max-width: 100%" width="800">
              <ul id="tags">
                <li #skillTags *ngFor="let skill of skills"><a>{{ skill.name }}</a></li>
              </ul>
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
