@font-face {
  font-family: Inter-Light;
  src: url(/assets/fonts/Inter-Light.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(/assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Black;
  src: url(/assets/fonts/Inter-Black.ttf);
}

@font-face {
  font-family: Inter-Semi-Bold;
  src: url(/assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(/assets/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-Extra-Bold;
  src: url(/assets/fonts/Inter-ExtraBold.ttf);
}

/*----------COLORS----------*/
:root {
  --main-background-color: #f0f0f1;
  --main-red-color: #cb1237;
  --main-black-color: #22262a;
}

/*----------FONT----------*/
* {
  font-family: "Inter-Regular", serif;
}

/*----------GENERALS----------*/
html, body {
  scroll-behavior: smooth;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--main-background-color);
}

h1 {
  font-size: 46px;
  font-family: "Inter-Extra-Bold", serif;
}

h2 {
  font-family: "Inter-Bold", serif;
  margin-top: 6rem;
}

h3 {
  font-family: "Inter-Semi-Bold", serif;
  margin-top: 4rem;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.btn {
  box-shadow: none !important;
}

.dropdown-menu {
  background-color: #f0f0f1;
}

p {
  text-align: justify;
}

.dropdown-toggle::after {
  display: none;
}
