@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter-Light;
  src: url(/assets/fonts/Inter-Light.ttf);
  font-display: block;
}

@font-face {
  font-family: Inter-Regular;
  src: url(/assets/fonts/Inter-Regular.ttf);
  font-display: block;
}

@font-face {
  font-family: Inter-Black;
  src: url(/assets/fonts/Inter-Black.ttf);
  font-display: block;
}

@font-face {
  font-family: Inter-Semi-Bold;
  src: url(/assets/fonts/Inter-SemiBold.ttf);
  font-display: block;
}

@font-face {
  font-family: Inter-Bold;
  src: url(/assets/fonts/Inter-Bold.ttf);
  font-display: block;
}

@font-face {
  font-family: Inter-Extra-Bold;
  src: url(/assets/fonts/Inter-ExtraBold.ttf);
  font-display: block;
}

:root {
  --main-background-color: #fdfdfe;
  --main-color: #67adf4;
  --light-main-color: #acd5f3;
  --main-black-color: #22262a;
  --scrollbar-background: #FFFFFFFF;
  --scrollbar-thumb-color: #b3b3b3;
  --scrollbar-thumb-hover-color: #9a9999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;font-family: "Inter-Regular", serif;
}
::-webkit-scrollbar {
  height: 1rem;
  width: .5rem
}

::-webkit-scrollbar:horizontal {
  height: .5rem;
  width: 1rem
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217,217,227,.8);
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(217,217,227,var(--tw-bg-opacity))
}

.dark ::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.1)
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0,0%,100%,.3)
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100vw;
}

body {
  background-color: rgb(17 24 39 / 1);
}

html, body {
  scroll-behavior: smooth;
  font-size: 16px;
  margin: 0;

}

.text-main-color {
  color: #faee06
}

.hover-text-main-color:hover {
  color: #faee06
}

.text-white-on-black {
  color: #ebebed;
}
